<div class="row">
    <div class="col-sm-12">
        <!-- Board Header -->
        <div class="board-header">
            <div class="board-header-left">
                <h2 class="board-title">Welcome to your Sticky Board!</h2>
            </div>
            <div class="board-header-right">
                <button class="board-action-btn btn-manage">Manage Sharing</button>
                <button class="board-action-btn btn-disable">Disable Sharing</button>
                <button class="board-action-btn btn-help">?</button>
            </div>
        </div>

        <!-- Board Toolbar -->
        <div class="board-toolbar">
            <div>
                <button class="add-note-btn" ng-click="addNewNote()">
                    <i class="fa fa-plus"></i> Add New Note
                </button>
                <button class="add-note-btn" style="margin-left: 10px; background-color: #7bc950;" ng-click="attachFile()">
                    <i class="fa fa-paperclip"></i> Attach File
                </button>
            </div>
            <div class="color-picker">
                <div class="color-option color-yellow" ng-class="{'active': selectedColor === 'yellow'}" ng-click="selectColor('yellow')"></div>
                <div class="color-option color-pink" ng-class="{'active': selectedColor === 'pink'}" ng-click="selectColor('pink')"></div>
                <div class="color-option color-blue" ng-class="{'active': selectedColor === 'blue'}" ng-click="selectColor('blue')"></div>
                <div class="color-option color-green" ng-class="{'active': selectedColor === 'green'}" ng-click="selectColor('green')"></div>
            </div>
        </div>

        <!-- Sticky Board Canvas -->
        <div class="sticky-board" id="sticky-board">
            <!-- Sample Notes -->
            <div class="sticky-note sticky-note-yellow" style="top: 50px; left: 100px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Welcome to your Sticky Board!</div>
                <div class="resize-handle"></div>
            </div>

            <div class="sticky-note sticky-note-pink" style="top: 120px; left: 350px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Drag me around!</div>
                <div class="resize-handle"></div>
                <div class="sticky-author">Hamza Saleem</div>
            </div>

            <div class="sticky-note sticky-note-blue" style="top: 200px; left: 600px; width: 180px; height: 160px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Double-click to edit</div>
                <div class="resize-handle"></div>
            </div>

            <div class="sticky-note sticky-note-green" style="top: 300px; left: 100px; width: 250px; height: 200px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Resize me using the corners!</div>
                <div class="resize-handle"></div>
            </div>

            <div class="sticky-note sticky-note-yellow" style="top: 320px; left: 450px; width: 220px; height: 180px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Use different colors for organization</div>
                <div class="resize-handle"></div>
            </div>

            <div class="sticky-note sticky-note-pink" style="top: 120px; left: 800px; width: 240px; height: 200px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Collaborate in real-time with your team</div>
                <div class="resize-handle"></div>
                <div class="sticky-author">ruthere</div>
            </div>

            <div class="sticky-note sticky-note-blue" style="top: 520px; left: 350px; width: 300px; height: 180px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Brainstorm your next big idea here!</div>
                <div class="resize-handle"></div>
            </div>

            <div class="sticky-note sticky-note-green" style="top: 560px; left: 700px; width: 340px; height: 180px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Pro tip: Try the 'brain dump' technique: Create a new note for every idea that pops into your head for 5 minutes straight. No filtering!"</div>
                <div class="resize-handle"></div>
            </div>

            <div class="sticky-note sticky-note-yellow" style="top: 520px; left: 100px; width: 200px; height: 160px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Share your board with others using the 'Share' button</div>
                <div class="resize-handle"></div>
            </div>

            <div class="sticky-note sticky-note-pink" style="top: 320px; left: 820px; width: 180px; height: 200px;">
                <div class="sticky-note-header">
                    <div class="sticky-note-controls">
                        <button class="sticky-control-btn" title="Delete"><i class="fa fa-trash"></i></button>
                        <button class="sticky-control-btn" title="Change Color"><i class="fa fa-palette"></i></button>
                    </div>
                </div>
                <div class="sticky-note-content" contenteditable="true">Need help? Check out our FAQ section!</div>
                <div class="resize-handle"></div>
            </div>
        </div>

        <!-- Hidden File Upload - This connects to the original functionality -->
        <div class="hidden-uploader" style="display: none;">
            <input type="file" id="hidden-file-input" multiple>
        </div>
        
        <!-- Context Menu for Notes -->
        <div id="note-context-menu" class="note-context-menu">
            <div class="context-menu-item" id="ctx-edit"><i class="fa fa-edit"></i> Edit</div>
            <div class="context-menu-item" id="ctx-change-color"><i class="fa fa-palette"></i> Change Color</div>
            <div class="context-menu-separator"></div>
            <div class="context-menu-item" id="ctx-send-to-upload"><i class="fa fa-share"></i> Create Shareable</div>
            <div class="context-menu-separator"></div>
            <div class="context-menu-item" id="ctx-delete"><i class="fa fa-trash"></i> Delete</div>
        </div>
        
        <!-- View Toggle -->
        <div class="text-center" style="margin-top: 20px; margin-bottom: 30px;">
            <a href="#/upload" class="btn btn-sm btn-default">
                <i class="fa fa-list"></i> Switch to Traditional View
            </a>
            <p class="small text-muted" style="margin-top: 10px;">Need to upload or manage files? Use the traditional view</p>
        </div>
    </div>
</div>

<!-- Board View Template -->
<div class="board-container">
    <div class="board-header">
        <div class="board-controls">
            <button class="btn btn-primary" ng-click="addNote()">
                <i class="glyphicon glyphicon-plus"></i> Add Note
            </button>
            <button class="btn btn-default" ng-click="clearBoard()">
                <i class="glyphicon glyphicon-trash"></i> Clear Board
            </button>
            <button class="btn btn-info" ng-click="exportBoard()">
                <i class="glyphicon glyphicon-download-alt"></i> Export
            </button>
            <button class="btn btn-default" onclick="window.location.href = '#/'">
                <i class="glyphicon glyphicon-upload"></i> Upload Files
            </button>
        </div>
    </div>
    
    <div id="board" class="board">
        <!-- Notes will be dynamically created and placed here -->
        <div id="note-template" class="note" style="display: none;">
            <div class="note-header">
                <div class="note-drag-handle"></div>
                <div class="note-actions">
                    <span class="note-delete">&times;</span>
                </div>
            </div>
            <div class="note-content" contenteditable="true"></div>
            <div class="note-resize-handle"></div>
        </div>
    </div>
    
    <!-- Context Menu (hidden by default) -->
    <div id="context-menu" class="context-menu" style="display: none;">
        <ul class="context-menu-options">
            <li data-action="edit"><i class="glyphicon glyphicon-pencil"></i> Edit</li>
            <li data-action="color"><i class="glyphicon glyphicon-tint"></i> Change Color</li>
            <li data-action="share"><i class="glyphicon glyphicon-share"></i> Share</li>
            <li data-action="delete"><i class="glyphicon glyphicon-trash"></i> Delete</li>
        </ul>
    </div>
    
    <!-- Toast Message for notifications -->
    <div id="toast" class="toast" style="display: none;"></div>
</div>

<!-- CSS for board -->
<style>
    .board-container {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    
    .board-header {
        padding: 10px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
    }
    
    .board-controls {
        display: flex;
        gap: 10px;
    }
    
    .board {
        position: relative;
        height: calc(100vh - 60px);
        background-color: #f0f0f0;
        background-image: linear-gradient(45deg, #e0e0e0 25%, transparent 25%),
                          linear-gradient(-45deg, #e0e0e0 25%, transparent 25%),
                          linear-gradient(45deg, transparent 75%, #e0e0e0 75%),
                          linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
        overflow: auto;
    }
    
    .note {
        position: absolute;
        width: 200px;
        min-height: 200px;
        background-color: #ffeb3b;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 2px;
        padding: 10px;
        cursor: default;
        z-index: 1;
    }
    
    .note.yellow { background-color: #ffeb3b; }
    .note.blue { background-color: #90caf9; }
    .note.green { background-color: #a5d6a7; }
    .note.pink { background-color: #f8bbd0; }
    .note.purple { background-color: #ce93d8; }
    
    .note-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    
    .note-drag-handle {
        height: 10px;
        width: 100%;
        cursor: move;
        background-image: radial-gradient(#00000020 1px, transparent 1px);
        background-size: 5px 5px;
    }
    
    .note-actions {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    .note-delete {
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        color: #757575;
    }
    
    .note-delete:hover {
        color: #f44336;
    }
    
    .note-content {
        min-height: 150px;
        outline: none;
        word-wrap: break-word;
    }
    
    .note-resize-handle {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
        cursor: nwse-resize;
        background-image: linear-gradient(135deg, #00000020 25%, transparent 25%),
                          linear-gradient(135deg, transparent 75%, #00000020 75%);
        background-size: 10px 10px;
    }
    
    .context-menu {
        position: absolute;
        z-index: 1000;
        width: 150px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    
    .context-menu-options {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .context-menu-options li {
        padding: 8px 12px;
        cursor: pointer;
    }
    
    .context-menu-options li:hover {
        background-color: #f5f5f5;
    }
    
    .toast {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        z-index: 1001;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .toast.show {
        opacity: 1;
    }
</style> 